requests=<2.24.0
halo=<0.0.31
numpy=<1.19.5
beautifulsoup4=<4.10.0
pynput=<1.7.6
pysocks=<1.7.1
pandas=<1.1.5
pandas-profiling=<3.1.0
requests-futures=<1.0.0
certifi=<2020.6.20 
stem=<1.8.0
torrequest=<0.1.0
gitpython=<3.1.23
keyboard=<0.13.5
rarfile=<4.0